<ion-view cache-view="false">
    <ion-nav-title>
        {{title}}
    </ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">
        <div class="list list-inset">
            <div class="item item-body" ng-repeat="item in handBookItem3List">
                <div ng-if="item.NextItemCnt>0" ng-click="open(item)">
                    {{item.Item3}}
                </div>
                <div ng-if="item.NextItemCnt<=0" ng-bind-html="item.Item3" style="margin:-10px">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>