<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
    <!-- 公告 -->
    <ion-tab title="{{Language.BallFieldBooking.Notice}}" icon-off="ion-ios-paper" icon-on="ion-ios-paper"
        href="#BallFieldBooking/BallFieldBookingNotice">
        <ion-nav-view name="BallFieldBookingNotice"></ion-nav-view>
    </ion-tab>
    <!-- 查询 -->
    <ion-tab title="{{Language.BallFieldBooking.Query}}" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar"
        href="#BallFieldBooking/BallFieldBookingQuery">
        <ion-nav-view name="BallFieldBookingQuery"></ion-nav-view>
    </ion-tab>
    <!-- 我的预定 -->
    <ion-tab title="{{Language.BallFieldBooking.Mybook}}" icon-off="ion-person" icon-on="ion-person"
        href="#BallFieldBooking/BallFieldBookingBook">
        <ion-nav-view name="BallFieldBookingBook"></ion-nav-view>
    </ion-tab>
</ion-tabs>