<!-- 免费WIFI申请 -->
<ion-view view-title="{{Language.dormManage.freeDormWifi}}" cache-view="true" >
    <ion-content class="padding" scroll="true" overflow-scroll="true">

<section class="_editor" style="text-align: left;">
    <section class="tool-border">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </section>
    <p style="text-align: center;">
        <span style="font-size: 15px;">
            <strong>伟创力厂区免费WIFI 帐号申请指南</strong>
        </span>
    </p>
    <p>
        <strong>
            <br/>
        </strong>
    </p>
    <p>
        1、新入职的住宿员工：由宿舍管理处提供员工信息给电信，员工入职第二天即可收到个人WIFI帐号和密码（帐号为工号，密码为A手机号码），请留意短信通知。若第二天未能收到，可按（    ）内的信息提示进行登录，如果不成功，请按第2条操作。
    </p>
    <p>
        <br/>
    </p>
    <p>
        2.	2019年2月以前入职的住宿员工：请带厂牌和身份证到相应宿舍区电信服务点登记:
    </p>
    <p>
        (1) 南厂宿舍：周一至周五11:00-12:30，18:00-20:00；
    </p>
    <p>
        (2) 北厂宿舍：周一、三、五10:30-12:30；
    </p>    
    <p>
        (3) 三洲本土宿舍：每周三11:00-12:30
    </p>
    <p>
        <br/>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="open('wifi_android')">
            安卓(Android)系统使用指南
        </a>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="open('wifi_ios')">
            苹果(ios)系统使用指南
        </a>
    </p>
    <br><br><br>
</section>

</ion-content>
</ion-view>