<!-- 免费WIFI使用指引 -->
<ion-view view-title="{{Language.dormManage.freeDormWifi}}" cache-view="true" >
    <ion-content class="padding" scroll="true" overflow-scroll="true">

<section class="_editor" style="text-align: left;">
    <section class="tool-border">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </section>
    <p style="text-align: center;">
        <span style="font-size: 15px;">
            <strong>伟创力厂区免费WIFI使用指引</strong>
        </span>
    </p>
    <p>
        <strong>
            <br/>
        </strong>
    </p>
    <p>
        1.<b>新入职的住宿员工</b>：入住第二天即可收到个人WIFI帐号和密码，请留意短信通知并保存好。若第二天未能收到，请按第2条操作。
    </p>
    <br/>
    <p>
        2. <b>2019年2月以前入职的住宿员工</b>：请带厂牌和身份证到相应宿舍区电信服务点登记:
    </p>
    <p>
        (1) 南厂宿舍：周一至周五11:00-12:30，18:00-20:00；
    </p>
    <p>
        (2) 北厂宿舍：周一、三、五10:30-12:30；
    </p>    
    <p>
        (3) 三洲本土宿舍：每周三11:00-12:30
    </p>
    <br/>
    <p>
        3.	电信WIFI服务热线：<a class="myLink" href="tel:17724187306"><i class="icon ion-android-call"></i>17724187306</a>，
        服务时间：周一至周五（法定节假日除外），08:00-12:00, 14:00-17:30。
    </p>
    <p>
        <br/>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="$event.preventDefault();open('wifi_android')">
            安卓(Android)系统使用指南
        </a>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="$event.preventDefault();open('wifi_ios')">
            苹果(ios)系统使用指南
        </a>
    </p>
    <br><br><br>
</section>

</ion-content>
</ion-view>