<!-- 入职文件 -->
<ion-view view-title="入职文件" cache-view="true" >
    <ion-content scroll="true" overflow-scroll="true" >
        <div class="list list-inset">
            <div class="item" ng-click="open('DL入职声明正文页');">
                {{Language.GBSHR.newEmployeeIntroDL}}
            </div>
            <div class="item" ng-click="open('职员入职声明正文');">
                {{Language.GBSHR.newEmployeeIntroIDL}}
            </div>
            <div class="item" ng-click="open('菜鸟手册');">
                {{Language.GBSHR.basicGuide}}
            </div>          
        </div>
    </ion-content>
</ion-view>
