<!-- LTP培训资料 -->
<ion-view view-title="{{Language.GBSHR.LTPTraining}}" cache-view="true">
    <ion-content scroll="true">
        <ul class="lightgallery">
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp01.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp02.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp03.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp04.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp05.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp06.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp07.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp08.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp09.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp10.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp11.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp12.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp13.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp14.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp15.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp16.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp17.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp18.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp19.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp20.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp21.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp22.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp23.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp24.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp25.png" />
            </li>
            <li>
                <img style="max-width:98%;" src="https://zhmobile.flextronics.com/EvaluationApp/Upload/ltp/ltp26.png" />
            </li>
        </ul>
    </ion-content>
</ion-view>