<!-- 娱乐中心使用须知 -->
<ion-view view-title="{{Language.CSER.activityCenterProtocol}}" cache-view="true">
  <ion-content class="padding" scroll="true" overflow-scroll="true">
    <style>
      ol li {
        margin-bottom: 5px;
      }
    </style>
    <H2 style="text-align: center; margin-bottom: 15px;">园区娱乐中心管理细则<br>
      Campus Recreation Center Management Rules
    </H2>
    <div>
      <h4 style="color:blue">一、目的Purpose</h4>
      <p>丰富员工业余文化生活，提供和营造良好的娱乐休闲环境。</p>
      <p>To enrich employee spare cultural life, provide and create a good entertainment and leisure environment.</p>
    </div>
    <div>
      <h4 style="color:blue">二、权责Responsibility</h4>
      <p>1. 企业社会环境责任部：负责员工娱乐中心管理并拟定管理制度。</p>
      <p>CSER is responsible for recreation center management and formulate management system.</p>
      <p>2. 管理员：负责各项设施的管理、定期维护维修及跟进。</p>
      <p>Administrator is responsible for management of various facilities and regular maintenance.</p>
      <p>3. 员工：需按娱乐中心的管理制度及管理员的指引，正确使用和爱护娱乐中心各类设施。</p>
      <p>Employees must properly use and care for any facilities under recreation center rules and guidelines from the
        administrator.</p>
    </div>
    <div>
      <h4 style="color:blue">三、管理范围Service Scope</h4>
      <p>管理包括南厂员工娱乐中心、B15员工文体中心、B7娱乐中心、 B17娱乐中心在内的所属健身房、图书室、绿色网吧、游戏棋牌室、多媒体教室、舞蹈房、乐器室等区域，并其提供相应的硬件更新维护、服务管理。</p>
      <p><b>South campus recreation:</b>
        <ul>
          <li>2F: GYM, Library, Green Internet Bar, Chess Room and Multimedia Classroom</li>
          <li>3F: Dance Room, DJ Room, Musical Instrument Room, Clothes Room and Club Hall.</li>
        </ul>
      </p>
      <p><b>B15 3F recreation center:</b>
        <ul>
          <li>GYM area、Game area、Ping pong area、rest area and Billiard area</li>
        </ul>
      </p>
      <p><b>B7 recreation center:</b>
        <ul>
          <li> Billiard area</li>
        </ul>
      </p>
      <p><b>B17 recreation center:</b>
        <ul>
          <li> GYM area、Table Tennis、Billiards</li>
        </ul>
      </p>
    </div>
    <div>
      <h4 style="color:blue">四、开放时间Open Time </h4>
      <p>
    <table class="myTab" style="margin:0 4px 0 2px;width:100%">
      <tbody>
        <tr>
          <td style="width:33.3%"> 位置Location </td>
          <td style="width:33.3%">
            <p> 周一至周五：<br />Monday to Friday </p>
          </td>
          <td>
            <p> 周末及节假日:<br />Weekends and Holidays </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> 南厂活动中心<br />South campus recreation center </p>
          </td>
          <td>
            <p> 上午：09:00 - 12:00<br />下午：16:30 - 21:30 </p>
          </td>
          <td>
            <p> 上午：09:00 - 12:00<br />下午：14:30 - 21:30 </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> B15文体中心<br />B15 recreation center </p>
          </td>
          <td>
            <p> 09:00 - 20:00 </p>
          </td>
          <td>
            <p> 09:00 - 20:00 </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> B17文体中心 </p>
            <p> B17 recreation center </p>
          </td>
          <td>
            <p> 09:00 - 20:00 </p>
          </td>
          <td>
            <p> 09:00 - 20:00 </p>
          </td>
        </tr>
      </tbody>
    </table>
      </p>
    </div>
    <div>
      <h4 style="color:blue">五、使用须知Notification</h4>
      <p>1. 员工必须佩带厂牌进入娱乐中心。借用物品时，需凭厂牌在管理员处登记，并在离开娱乐中心前归还。</p>
      <p>Work brand must be stick when entering recreation center. To borrow any item, please report to the
        administrator with your work brand, and return the borrowed back before leaving the recreation center.</p>
      <p>2. 未经管理员同意不得将器材带出娱乐中心或转借他人，如有损坏或遗失物品，将照价赔偿。</p>
      <p>Do not take any equipment out from recreation center or transferred to another person without the
        administrator's permit. Any damage or loss occurs, the cost compensation shall be covered.</p>
      <p>3. 爱护娱乐中心公共环境卫生，仪容整洁、举止文明，不随地吐痰、不抽烟、不大声喧哗、不乱丢垃圾等。</p>
      <p>Keep clean in the recreation center clean, with tidy appearance and civilized behavior. No spitting, smoking,
        loud or littering.</p>
      <p>4. 服从管理员的安排，请勿在娱乐中心滋事、争执、吵闹、斗殴等，一经发现，当即通报相关部门并严格按公司规定处理。</p>
      <p>Follow the administrator’s instruction without any trouble-maker, disputes, noisy, or fighting, etc. Otherwise
        it will be reported to related departments to handle in strict accordance with company regulations.</p>
    </div>
    <div>
      <p style="font-weight:800;">
        &nbsp;&nbsp;&nbsp;&nbsp;以上内容发布之日起生效并严格执行，违者将按公司规定处理。本规定由伟创力珠海企业社会环境责任部制定并拥有最终解释权。</p>
        <p>
        Above information is effective after releasing with stick enforcement. Offenders will be processed in
        accordance with company policy. Flex CSER make all above and reserve the right of final explanation.</p>
      </p>
      <p style="font-weight:800; float:right;">
        伟创力珠海企业社会环境责任部<br>
        Flex Zhuhai CSER
      </p>
    </div>

    <br>
    <div class="row">
      <div style="float:left;"><span style="color: #808080;font-size: 15px">阅读 {{ReadCount}}</span></div>
    </div>
    <br>
  </ion-content>
</ion-view>