<!-- 身份证信息更新提示 -->
<ion-view view-title="身份证资料更新提示" cache-view="true">
    <ion-content class="padding" scroll="true" overflow-scroll="true">
        <section class="_editor">
            <p style="margin-bottom:auto;text-align: center;line-height:24px">
                <strong><span style="font-size:24px;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">身份证资料更新要求</span></strong>
            </p>
            <p style="margin-bottom: auto; line-height: 24px;">
                <strong><span style="font-size:24px;font-family:&#39;\0027宋体&#39;"><br /></span></strong>
            </p>
            <p style="margin-bottom: auto; line-height: 24px;">
                <strong style="text-align: left;"><span style="font-size:21px">一、<span
                            style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
                        </span></span></strong><strong style="text-align: left;"><span
                        style="font-size:21px;font-family:宋体">姓名更新</span></strong>
            </p>
            <p style="margin-bottom: auto; line-height: 24px;">
                <strong><span style="font-size:19px">1.<span
                            style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span></strong><strong><span
                        style="font-size:19px;font-family:宋体">户口本上有曾用名：</span></strong>
            </p>
            <p style="margin-bottom: auto; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本首页复印件</span>
            </p>
            <p style="margin-bottom: auto; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本员工<span style="text-decoration:blue underline;text-decoration-style:double">本人当页复印件</span></span>
            </p>
            <p style="margin-bottom: auto; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">新的身份证双面复印件</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <span style="font-size:19px;font-family:宋体;color:#2e74b5">以上资料都是一式三份，每页复印件上标注工号、姓名，文字标注请采用黑色水芯笔</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:19px"><br /></span></strong>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:19px">2</span></strong><strong><span
                        style="font-size:19px;font-family:宋体">．户口本无曾用名：</span></strong>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="text-indent: 2em; font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="text-indent: 2em; font-size: 19px; font-family: 宋体;">户口本首页复印件</span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="text-indent: 2em; font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="text-indent: 2em; font-size: 19px; font-family: 宋体;">户口本员工<span style="text-decoration:blue underline;text-decoration-style:double">本人当页复印件</span></span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="text-indent: 2em; font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="text-indent: 2em; font-size: 19px; font-family: 宋体;">新的身份证双面复印件</span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="text-indent: 2em; font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="text-indent: 2em; font-size: 19px; font-family: 宋体;">公安机关开具的相关原件证明</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <span style="font-size:19px;font-family:宋体;color:#2e74b5">以上资料都是一式三份，每页复印件上标注工号、姓名，文字标注请采用黑色水芯笔</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:19px"><br /></span></strong>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:19px">二、<span
                            style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span></strong><strong><span
                        style="font-size:21px;font-family:宋体">身份证号码更新</span></strong>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本首页复印件</span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本员工<span style="text-decoration:blue underline;text-decoration-style:double">本人当页复印件</span></span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">新的身份证双面复印件</span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">公安机关开具的相关原件证明</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <span style="font-size:19px;font-family:宋体;color:#2e74b5">以上资料都是一式三份，每页复印件上标注工号、姓名，文字标注请采用黑色水芯笔</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:21px"><br /></span></strong>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <strong><span style="font-size:21px">三、<span
                            style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
                        </span></span></strong><strong><span
                        style="font-size:21px;font-family:宋体">户籍地址更新</span></strong>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本首页复印件</span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol; color: red;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">户口本员工<span style="text-decoration:blue underline;text-decoration-style:double">本人当页复印件</span><span
                        style="color:#262626">（</span><span style="color:red">书写居委会名称</span><span
                        style="color:#262626">）</span></span>
            </p>
            <p style="margin-bottom: auto; text-align: left; line-height: 24px; text-indent: 2em;">
                <span style="font-size: 19px; font-family: Symbol;">·<span
                        style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 9px; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span style="font-size: 19px; font-family: 宋体;">新的身份证双面复印件（<span
                        style="color: red">书写“<b>复印件与原件一致</b>”并签名</span>）</span>
            </p>
            <p style="margin-bottom:auto;text-align: left;line-height:24px">
                <span style="color: #2e74b5; font-family: 宋体; font-size: 19px;">以上资料都是一式三份，每页复印件上标注工号、姓名，文字标注请采用黑色水芯笔</span>
            </p>
            <p style="margin-top:auto;margin-bottom:auto;line-height:150%">
                <strong><span style="font-size:24px;line-height:150%">&nbsp;</span></strong>
            </p>
            <p>
                <br />
            </p>
        </section>
    </ion-content>
</ion-view>