<!-- 工会2019春节返程补贴 -->
<ion-view view-title="Flex工会2019春节返程补贴抽奖活动" cache-view="false"  hide-tabs >
    <ion-content style="background-color:lavender">

        <div class="list card" >
            <div class="divOff lightRedBack">
                <span class="text-left">亲爱的各位同事，</span>                
                <div class="divOff">
                <p>
                    2月24日至28日，广大同事积极参与了斗门工会2019年春节外来务工人员交通返程补助活动。
                    但因活动名额有限，仅有部分同事被抽中获得补助名额。关爱职工，伟创力联合工会暖心行动继续来袭！如果你是由原居住地或国内探亲地返程伟创力工作并是非珠海市户籍（以身份证信息为准）的人员，继续来抢新春交通返程补助名额吧！
                </p>
                <ol class="numOl">
                    <li>
                    <b>活动对象</b>：在我司就职的异地务工人员
                    </li>
                    <li>
                    补助标准：省内150元/家庭；省外300元/家庭
                    </li>
                    <li>
                    补助名额：300个（已成功获得斗门区总工会补贴名额者<b>不重复</b>参与本次活动）
                    </li>
                    <li>
                    资料提交：中奖者在中奖页面<a href="#" class="myLink" ng-click="openSubmitMat()"> 点击此链接 </a>提交相关资料
                    </li>
                    <li>
                    咨询电话：40010-99899转5
                    </li>
                </ol>
                </div>
            </div>

            <div ng-if="!hasSubmit">
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.name}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.CName" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width:30px;font-size:80%">{{Language.like.employee_ID}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.WorkdayNO" />
            </div>
            <!-- <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.department}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.Organization" />
            </div> -->
            <!-- <div class="item item-input">
                <span class="input-label" style="width: 50px;font-size:80%">{{Language.shareCar.mobile}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.shareCar.mobile}}" ng-model="model.MobileNo" />
            </div> -->
            <div style="text-align: center">
                <button class="button  button-positive" ng-click="Submit()">{{Language.menu.submit}}</button>
            </div>
            </div>
            <ion-list ng-if="hasSubmit">
                <ion-item class="item">
                    <div style="white-space: normal;">
                        <span style="color: red;font-weight: 800;">恭喜您！</span>待核对不与斗门区总新春补助资格重复后即为中奖！<br>如有疑问请电话咨询40010-99899
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <br/>
    </ion-content>
</ion-view>