<!--活动点赞 2018-05-23-->
<ion-view view-title="{{Language.activityGood.title}}" cache-view="false">
  <ion-content style="background-color:lavender">
    <!-- 标题图，有的话 -->
    <ion-slide-box does-continue="true" auto-play="false" show-pager="false" ng-if="titleImgUrl">
      <img ng-src="{{titleImgUrl}}">
    </ion-slide-box>
    <style>
        /* .headpic {
          margin-left: auto;
          margin-right: auto;
          max-width: 99.5%;
        } */
        .myvid{
          border:none;
        }
    </style>
    <!-- 标题描述，有的话 -->
    <div class="divOff" style="background-color:lightblue;" ng-if="actDesc">
      <div class="divOff" style="font-size:14px;" ng-bind-html="actDesc">
      </div>
    </div>

    <div class="list card">
      <ion-list>
        <ion-item ng-repeat="act in Activities">
          <div class="item">
          <!-- <div class="item item-avatar">
            <img ng-src="{{activityGoodIcon}}"> -->
            <span style="font-size:1.1em;white-space:pre-wrap;">{{act.Name}}</span>
            <h3 ng-if="act.Designer">{{Language.activityGood.designer}}: {{act.Designer}}</h3>
            <!-- <h3>{{Language.activityGood.employee_ID}}：{{act.Designer}}</h3> -->
            <!-- <h3 ng-if="act.BU">{{Language.activityGood.department}}：{{act.BU}}</h3> -->
          </div>

          <div class="item item-body" style="padding:0;border:none;">
            <!-- 固定图片 -->
            <!-- <img class="headpic" ng-src="{{act.ImgPath}}" ng-click="OpenUrl(act.LinkUrl)"> -->
            <!-- 可缩放图片 -->
            <!-- <ul class="lightgallery">
                        <li data-src="{{act.ImgPath}}">
                          <a href="#">
                            <img class="full-image" src="{{act.ImgPath}}" />
                          </a>
                        </li>
                      </ul> -->
            <!-- 图片，单击后打开URL -->
            <div class="video-gallery">
              <ul class="myvid list-unstyled row">
                <li class="video" data-poster="{{act.ImgPath}}" data-html="#video{{$index}}">
                  <a href="">
                    <img class="img-responsive" style="min-height:170px;" src="{{act.ImgPath}}">
                    <div class="video-gallery-poster">
                      <img src="img/playbtn.png">
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div ng-if="act.Describe" style="margin-top:10px;">
              <!-- <p class="text-left small">{{Language.activityGood.desc}}：</p> -->
              <p ng-bind-html="act.Describe"></p>
              <!-- <div compile="act.Describe"></div> -->
            </div>
            <p ng-if="act.Like>0">
              <span><i class="icon ion-thumbsup"></i>{{act.Like}}赞</span>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-right" style="border:none;">
            <div style="margin:auto;margin-top:5px;">
              <button class="button button-balanced button-small" 
                style="text-align:center" ng-click="like(act.ID)">
                <i class="icon ion-thumbsup"></i>
                投票
              </button>
            </div>
          </div>

          <!-- Hidden video div -->
          <div style="display:none;" id="video{{$index}}">
            <video class="lg-video-object lg-html5" controls>
                <source src="{{act.LinkUrl}}" type="video/mp4">
                Your Flex+ does not support HTML5 video.
            </video>
          </div>
        </ion-item>
        <ion-item ng-if="IsSuggest">
            <!-- 2018-11-12特殊处理，这里允许输入建议 -->
            <div>
                <h4>
                  <label>其它建议(比如)：</label>
                </h4>
                <div class="divOff" style="font-size:14px;">
                <ul>
                    <li>沙县小吃</li>
                    <li>兰州拉面</li>
                    <li>杭州小笼包</li>
                    <li>重庆小面</li>
                    <li>重庆小面</li>
                    <li>常德米粉</li>
                    <li>等等</li>
                </ul>
                </div>
                <div style="font-size:14px;color:deeppink;margin-top:10px;">{{checkItem.ItemText}}</div>
                <textarea rows="4" style="width:98%;border-style:dashed; border-width:1px; border-color:pink"
                    ng-model="model.suggestion"></textarea>
              </div>          
              <div style="text-align:center;margin:10px;">
                <button class="button button-positive" ng-disabled="!model.suggestion||!model.suggestion.length" 
                    ng-click="submitSuggest()">{{Language.menu.submit}}</button>
              </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>